:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
    --dark: #707070;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Epilogue", sans-serif;
    font-size: 18px;
    background-color: var(--almost-white);
    overflow-x: hidden;
}

h1 {
    /* font-size: clamp(3.5rem, 8vw, 5rem); */
    font-size: 3.5rem;
    line-height: 1;
    margin: 0;
}

p {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--dark);
}


/* Navigation */

.nav {
    height: 80px;
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    padding: 1.6rem;
    transform: translateY(0.4rem);
}

.nav-menu {
    position: fixed;
    background-color: var(--almost-white);
    top: 0;
    right: 0;
    min-width: min(100%, 240px);
    height: 100%;
    padding: 2rem 2rem 2rem 2.5rem;
    transform: translateX(0%);
    transition: transform 0.3s, opacity .3s;
    z-index: 10;
}

.nav-menu::after {
    content: "";
    position: absolute;
    right: 240px;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--almost-black);
    opacity: .5;
}

.nav-menu-hidden {
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
}

.nav-menu-close-icon {
    text-align: right;
    cursor: pointer;
}

.hamburger-icon {
    padding: 1.6rem;
    cursor: pointer;
}

.nav-menu-login {
    display: flex;
    flex-direction: column;
    margin: 3rem 0 0 0;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 3rem 0 0 0;
}

.menu-item-navigation {
    margin-bottom: 3rem;
    font-size: 1.6rem;
}

.menu-item-dropdown {
    margin-bottom: 2rem;
}

.menu-item-icon {
    display: inline-block;
    width: 22px;
    text-align: center;
    margin-right: 1.5rem;
}

.menu-item a {
    text-decoration: none;
    color: var(--dark);
}

.menu-item a:hover {
    color: var(--almost-black);
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    max-height: 0;
    pointer-events: none;
}

.dropdown-active .dropdown-menu {
    pointer-events: all;
    position: initial;
    opacity: 1;
    max-height: 500px;
    margin-top: 3rem;
    margin-left: 2rem;
    transition: max-height 0.6s, opacity 0.3s;
}

.dropdown-link::after {
    padding-left: 1rem;
    height: 100%;
    content: url(./images/icon-arrow-down.svg)
}

.dropdown-active .dropdown-link::after {
    content: url(./images/icon-arrow-up.svg);
}


/* -- main content -- */

.main-content {
    display: grid;
    row-gap: 4rem;
    width: 100%;
    min-height: fit-content;
    margin-bottom: 8rem;
}

.main-body {
    position: relative;
    text-align: center;
    padding: 0 2rem;
    height: calc(100% - 60px);
}

.main-body-text {
    line-height: 1.5;
    margin-top: 5%;
}

.btn {
    padding: 1rem 2rem;
    background: none;
    border: none;
    font-size: 1.4rem;
    line-height: 1;
    color: var(--dark);
    cursor: pointer;
}

.btn-outline {
    border: 2px solid var(--almost-black);
    border-radius: 1.5rem;
    padding-top: 1.1rem;
}

.btn--big {
    width: fit-content;
    padding: 1.6rem 2.2rem 1.5rem;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 1.8rem 0 3rem;
}

.btn--black {
    background-color: var(--almost-black);
    color: var(--almost-white);
    border-color: var(--almost-black);
}

.btn:hover {
    color: var(--almost-black);
    border-color: var(--almost-black);
    background: none;
}

.clients {
    display: flex;
    margin-top: 20px;
    padding: 0 2rem;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.client-items {
    max-width: min(23%, 120px);
}

.header-image {
    grid-area: 1;
}

.header-image-desktop {
    display: none;
}

.header-image-mobile {
    width: 100%;
}


/* -- Footer -- */

footer {
    position: fixed;
    background-color: rgba(242, 242, 242, 0.8);
    height: 50px;
    width: 100%;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* Media Query for bigger screen sizes */

@media screen and (min-width: 768px) {
    h1 {
        font-size: clamp(7rem, 6.7vw, 7.9rem);
    }
    p {
        font-size: 18px;
    }
    .btn {
        margin: 0;
    }
    .btn--big {
        padding: 1.8rem 3rem 1.7rem;
        font-size: 1.8rem;
        margin: 0;
    }
    .btn:hover {
        color: var(--almost-black);
        border-color: var(--almost-black);
        background: none;
    }
    .nav-menu-close-icon {
        display: none;
    }
    .hamburger-icon {
        display: none;
    }
    .nav-menu-hidden {
        transform: translateX(0%);
        transition: transform 0s;
        opacity: 1;
        pointer-events: none;
    }
    .nav-menu {
        display: flex;
        position: initial;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 2rem 0 4rem;
        background: none;
    }
    .nav-menu::after {
        display: none;
    }
    .menu-item-navigation {
        float: left;
        margin: 0 3rem 0 0;
        font-size: 1.4rem;
    }
    .nav-menu-login {
        flex-direction: row;
    }
    .menu {
        margin: 0;
    }
    .dropdown-menu {
        position: absolute;
        top: 1rem;
        margin: 2.5rem 0 0 0;
        background-color: var(--almost-white);
        padding: 2rem 2.5rem;
        border-radius: 15px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    }
    .dropdown-menu-left {
        right: 0;
    }
    .dropdown-menu-right {
        left: 0;
    }
    .menu-item-dropdown {
        margin-bottom: 1rem;
        line-height: 1.3;
        white-space: nowrap;
    }
    .dropdown-active .dropdown-menu {
        position: absolute;
        pointer-events: all;
        opacity: 1;
        margin: 2rem 0 0;
    }
    .dropdown li:last-child {
        margin-bottom: 0;
    }
    .dropdown-menu {
        position: absolute;
        opacity: 0;
        transition: opacity 0.3s;
        max-height: unset;
        margin: 2rem 0 0;
    }
    .main-content {
        grid-template-columns: 55% 45%;
        max-width: 1160px;
        margin: 4rem auto 0;
    }
    .main-body {
        max-width: 90%;
        padding-left: 3rem;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main-body-text {
        max-width: 480px;
        margin: 5.6rem 0 5rem;
        margin-top: clamp(2rem, 5vw, 5.6rem);
        margin-bottom: clamp(2rem, 4vw, 5rem);
        line-height: 1.5;
    }
    .header-image {
        grid-area: 1/2;
        text-align: right;
        padding: 1rem 0;
    }
    .header-image-desktop {
        display: initial;
        width: 100%;
        max-width: 480px;
        text-align: right;
    }
    .header-image-mobile {
        display: none;
    }
    /*.dropdown-link::after {
        padding-left: 1rem;
        height: 100%;
        content: url(./images/icon-arrow-down.svg)
    }
    .dropdown-active .dropdown-link::after {
        content: url(./images/icon-arrow-up.svg);
    } */
}

@media screen and (min-width: 1200px) {
    .nav {
        flex-wrap: nowrap;
        padding: 0 2.8rem;
    }
}